<div class="body-content body">
    <div class="background">
    </div>
    <div class="client">
        <div class="img1">
            <a routerLink='createclient'><img src="assets/client.png" /></a>
        </div>
        <div class="text">
            <a routerLink='createclient'>Client Management System</a>
        </div>
    </div>

    <div class="employee">
        <div class="img2">
            <a routerLink='createemployee'><img src="assets/employee.png"></a>
        </div>
        <div class="text">
            <a routerLink='createemployee'>Employee Management System</a>
        </div>
    </div>
</div>