<div>
	<app-client-header></app-client-header>
</div>
     <div class="body">
        <div class="middle">
           <div class="update" id ="update" style="display:block">
           <p style="color:white;text-align:center;font-size:20px;">UPDATE CLIENT INFORMATION</p>
          
              <form>
				 <input type="text" [(ngModel)] = "client.name" name="name" placeholder="Enter name"/><br>
				 <input type="text" [(ngModel)] = "client.address" name="address"  placeholder="Enter address"/><br>
                 <input (click)="updateClient()" type="submit" style="text-align:center; cursor:pointer;">
              </form>
           </div>
        </div>
     </div>
