.tableContent{
    margin-top:100px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    width:'100%';

}
.tableContent table{
    border:none;
    color:white;
}

.content-table-employee{
    border-collapse : collapse;
    margin:25px 0;
    font-size:0.9em;
    min-width: 400px;
}

.content-table-employee thead tr{

    color:white;
    text-align:left;
    font-weight: bold;

}


.content-table-employee tbody tr{
   border-bottom: 1px solid #dddddd;

}



.content-table-employee th,.content-table-employee td{
    padding:20px 40px;
}
.content-table-employee tbody tr:nth-of-type(even){
    background-color:#f3f3f3;
    color:black;
}

.content-table-employee tbody tr:nth-of-type(even) td a {
    background-color: #f3f3f3;
    color: black;
    text-decoration: none;
}
.content-table-employee tbody tr:nth-of-type(odd) td a {
    color: white;
    text-decoration: none;
}
